@import 'base/base';
@import 'variables/variables';
@import 'pages/checkout';
@import 'pages/detail';
@import 'pages/listing';
@import 'pages/home';
@import 'pages/user';
@import 'layout/clerk';
@import 'layout/header';
@import 'components/houseCard';
@import 'components/formCard';
@import 'components/filter';
@import 'components/datebar';
@import 'components/searchbar';
@import 'components/imagesModal';

#FaIconWText {
    display: flex;
    align-items: center;
    gap: .3rem;
}