body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#FaIconWText {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.header {
  height: 5rem;
  width: 100%;
  border-bottom: 2px solid black;
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.header-container {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-inline: 2rem;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header-container-right-user {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header-container-right-user #UserBtn {
  width: 5rem;
  height: 2rem;
  background-color: rgb(54, 121, 138);
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.3rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
}
.header-container-right-user #UserBtn:hover {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background-color: rgba(54, 121, 138, 0.7);
}

.clerk {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.home {
  background: linear-gradient(180deg, rgb(54, 121, 138) 0%, rgba(190, 190, 190, 0.463) 50%, rgb(245, 245, 245) 100%), no-repeat;
  min-height: 100vh;
  max-height: 100%;
  color: white;
}
.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
.home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.home-container-top #Slogan {
  padding: 0.5rem;
  background-color: rgb(54, 121, 138);
  border-radius: 1rem;
  color: white;
}
.home-container-center {
  width: 50%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(14rem, 32%) minmax(14rem, 32%) minmax(14rem, 32%);
  justify-content: center;
  justify-items: center;
  align-content: center;
  row-gap: 2rem;
  margin-top: 2rem;
}
.home-container-center-card {
  width: 12rem;
  height: 14rem;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.home-container-center-card:hover {
  box-shadow: 1px 1px 8px rgb(30, 30, 30);
  transition: 300ms;
}
.home-container-center-card-top {
  height: 12rem;
}
.home-container-center-card-top #CityImg {
  max-width: 100%;
  height: 12rem;
  object-fit: cover;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}
.home-container-center-card-bottom {
  border-top: 1px solid rgb(30, 30, 30);
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar {
  height: 3rem;
  width: 36rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.4rem;
  background-color: white;
}
.searchbar-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchbar-form-bar {
  width: -webkit-fill-available;
  margin-right: 0.2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.6);
}
.searchbar-form-bar #SearchBar {
  background-color: white;
  font-size: 1.1rem;
  border: none;
  color: black;
  height: 2.5rem;
  margin: 0.2rem;
  width: -webkit-fill-available;
}
.searchbar-form-bar #SearchBar:focus {
  border: none;
}
.searchbar-form-button {
  width: 6rem;
  margin-right: 0.2rem;
}
.searchbar-form-button #SearchbarBtn {
  width: 6rem;
  height: 2.5rem;
  background-color: rgb(54, 121, 138);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 0.3rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
}
.searchbar-form-button #SearchbarBtn:hover {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background-color: rgba(54, 121, 138, 0.7);
}

.datebar {
  display: flex;
  width: fit-content;
  height: 3rem;
  background-color: rgb(245, 245, 245);
  border: 1px solid black;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: left;
}
.datebar-left {
  display: flex;
  align-items: center;
}
.datebar-left-left {
  width: 4rem;
  display: flex;
  justify-content: center;
}
.datebar-left-right {
  position: relative;
  display: flex;
}
.datebar-left-right #DateButton {
  height: 3rem;
  width: 8rem;
  border: none;
  border-left: 1px solid rgb(30, 30, 30);
  background-color: rgb(54, 121, 138);
  color: rgb(245, 245, 245);
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}
.datebar-left-right #DateButton:hover {
  background-color: rgba(54, 121, 138, 0.7);
}
.datebar-left-right-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border: 1px solid rgb(30, 30, 30);
  background-color: rgb(245, 245, 245);
  transition: 500ms linear;
}
.datebar-right {
  display: flex;
  align-items: center;
  width: 12rem;
  border-left: 1px solid rgb(30, 30, 30);
}
.datebar-right-left {
  width: 6rem;
  display: flex;
  justify-content: center;
}
.datebar-right-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background-color: rgb(54, 121, 138);
  width: 6rem;
  border-top-right-radius: 0.43rem;
  border-bottom-right-radius: 0.43rem;
  border-left: 1px solid rgb(30, 30, 30);
  color: rgb(245, 245, 245);
}
.datebar-right-right #GuestButton {
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(30, 30, 30);
  color: white;
  box-shadow: none;
  border: none;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.datebar-right-right #GuestButton:hover {
  background-color: rgb(60, 60, 60);
}
.datebar-right-right #Count {
  margin: 0.4rem;
  font-size: 1.3rem;
}

#FilterBtn {
  width: 8rem;
  height: 1.7rem;
  background-color: rgb(202, 202, 202);
  border: 1px solid rgb(30, 30, 30);
  font-size: 0.9rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 4px rgb(30, 30, 30);
  cursor: pointer;
}
#FilterBtn:hover {
  background-color: rgb(228, 228, 228);
}

.images-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.images-modal-container {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
  min-width: 20rem;
}
.images-modal-container-top {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.images-modal-container-top #ImagesModalClose {
  position: absolute;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(180, 102, 0);
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.5rem;
  color: white;
  box-shadow: 1px 1px 4px rgb(30, 30, 30);
  cursor: pointer;
}
.images-modal-container-top #ImagesModalClose:hover {
  background-color: rgb(211, 136, 38);
}
.images-modal-container-center {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.images-modal-container-center #DetailImgAdditional {
  max-width: 100%;
  height: 8rem;
  object-fit: cover;
  border: 8px ridge rgb(245, 245, 245);
}

.filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.filter-container {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 14rem;
}
.filter-container-top {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.filter-container-top #FilterClose {
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(180, 102, 0);
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.5rem;
  color: white;
  box-shadow: 1px 1px 4px rgb(30, 30, 30);
  cursor: pointer;
}
.filter-container-top #FilterClose:hover {
  background-color: rgb(211, 136, 38);
}
.filter-container-center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0.5rem;
}
.filter-container-bottom {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

#FilterForm #FilterList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
#FilterForm #FilterSubmitBtn {
  border: 1px solid rgb(30, 30, 30);
  background-color: rgb(180, 102, 0);
  color: rgb(245, 245, 245);
  width: 8rem;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 4px rgb(30, 30, 30);
  cursor: pointer;
}
#FilterForm #FilterSubmitBtn:hover {
  background-color: rgb(211, 136, 38);
}

.house-card {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(30, 30, 30);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 100%;
  cursor: pointer;
}
.house-card:hover {
  box-shadow: 1px 1px 8px rgb(30, 30, 30);
  transition: 300ms;
}
.house-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(30, 30, 30);
  width: 100%;
  height: 2rem;
}
.house-card-top #HouseTopTag {
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.5rem;
  background-color: rgb(226, 226, 226);
  margin: 0.3rem;
  padding: 0.1rem;
  font-size: 0.9rem;
}
.house-card-top #HouseTitle {
  font-size: 1rem;
  font-weight: 100;
}
.house-card-center {
  height: fit-content;
  height: 12rem;
}
.house-card-center #HouseImg {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}
.house-card-bottom {
  height: fit-content;
  padding-block: 1rem;
  border-top: 1px solid rgb(30, 30, 30);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.house-card-bottom-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 0.2rem;
  height: 100%;
}
.house-card-bottom-right {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
  margin-right: 0.2rem;
}
.house-card-bottom-right-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.house-card-bottom-right-adaptations {
  background-color: rgb(30, 30, 30);
  height: fit-content;
  width: fit-content;
  border-radius: 0.5rem;
}

.adapt-icons {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  gap: 0.3rem;
  color: white;
  font-size: 1.3rem;
}

.listing {
  background: linear-gradient(180deg, rgb(54, 121, 138) 0%, rgba(190, 190, 190, 0.463) 50%, rgb(245, 245, 245) 100%), no-repeat;
  min-height: 100vh;
  max-height: 100%;
}
.listing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.listing-container-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.listing-container-top-misc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listing-container-center {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.detail {
  background: linear-gradient(180deg, rgb(54, 121, 138) 0%, rgba(190, 190, 190, 0.463) 50%, rgb(245, 245, 245) 100%), no-repeat;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
}
.detail-container {
  margin-top: 3rem;
  width: 50%;
  display: flex;
  gap: 1rem;
}
.detail-container-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
}
.detail-container-main-img #DetailImage {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.5rem;
}
.detail-container-main-info {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.5rem;
  background-color: rgb(226, 226, 226);
  padding: 0.5rem;
  gap: 0.5rem;
}
.detail-container-main-info-top {
  display: flex;
  justify-content: space-between;
}
.detail-container-main-info-top-left {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.detail-container-main-info-top-right {
  font-size: 0.9rem;
}
.detail-container-main-info-center {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.detail-container-main-info-center-host {
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.3rem;
  padding: 0.1rem;
  width: fit-content;
  background-color: rgb(245, 245, 245);
}
.detail-container-main-info-center-description {
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.3rem;
  padding: 0.1rem;
  background-color: rgb(245, 245, 245);
}
.detail-container-main-info-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
.detail-container-main-info-bottom #ContactBtn {
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.3rem;
  background-color: rgb(180, 102, 0);
  color: rgb(245, 245, 245);
  height: 2rem;
  width: 8rem;
  box-shadow: 1px 1px 4px rgb(30, 30, 30);
  cursor: pointer;
}
.detail-container-main-info-bottom #ContactBtn:hover {
  background-color: rgb(211, 136, 38);
}
.detail-container-main-comments {
  border: 1px solid rgb(30, 30, 30);
  background-color: rgb(245, 245, 245);
  border-radius: 0.5rem;
  padding: 0.3rem;
}
.detail-container-main-comments-item {
  border: 1px solid rgb(30, 30, 30);
  padding: 0.5rem;
  margin-block: 0.5rem;
  background-color: rgb(54, 121, 138);
  color: rgb(245, 245, 245);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}
.detail-container-main-comments-item-left {
  display: flex;
  gap: 0.5rem;
  width: fit-content;
}
.detail-container-main-comments-item-left-name {
  border-right: 1px solid rgb(245, 245, 245);
  height: 100%;
  padding-right: 0.3rem;
}
.detail-container-addon {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}
.detail-container-addon-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.detail-container-addon-top-images #ShowImgBtn {
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.3rem;
  background-color: rgb(245, 245, 245);
  opacity: 90%;
  height: 1.8rem;
  width: 6rem;
  cursor: pointer;
}
.detail-container-addon-top-images #ShowImgBtn:hover {
  opacity: 85%;
}
.detail-container-addon-top-info {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  border: 1px solid rgb(30, 30, 30);
  width: 100%;
  background-color: rgb(245, 245, 245);
  border-radius: 0.3rem;
}
.detail-container-addon-top-info-left {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 40%;
  border-right: 1px solid rgb(30, 30, 30);
}
.detail-container-addon-top-adapt #AdaptBtn {
  background-color: rgb(180, 102, 0);
  color: white;
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.3rem;
  width: 10rem;
  height: 2rem;
  box-shadow: 1px 1px 4px rgb(30, 30, 30);
  cursor: pointer;
}
.detail-container-addon-top-adapt #AdaptBtn:hover {
  background-color: rgb(211, 136, 38);
}
.detail-container-addon-center-included {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.3rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.detail-container-addon-center-included-center {
  display: flex;
  width: 90%;
  gap: 0.5rem;
}
.detail-container-addon-center-included-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.detail-sidebar {
  background-color: rgb(226, 226, 226);
  border: 1px solid rgb(30, 30, 30);
  position: absolute;
  right: 0;
  width: 22%;
  height: 100%;
}
.detail-sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(245, 245, 245);
  margin: 0.8rem;
  box-shadow: 1px 1px 4px rgb(30, 30, 30);
  height: 97%;
}
.detail-sidebar-container-top {
  border: 1px solid rgb(30, 30, 30);
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}
.detail-sidebar-container-top-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.detail-sidebar-container-top-buttons-dropdown {
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translateX(-50%);
  z-index: 1000;
  border: 1px solid rgb(30, 30, 30);
  background-color: rgb(245, 245, 245);
  transition: 500ms linear;
}
.detail-sidebar-container-top #DetailDateBtn {
  width: 80%;
  height: 2rem;
  border: 1px solid rgb(30, 30, 30);
  box-shadow: 1px 1px 2px rgb(30, 30, 30);
  border-radius: 0.3rem;
  background-color: rgb(202, 202, 202);
  cursor: pointer;
}
.detail-sidebar-container-top #DetailDateBtn:hover {
  background-color: rgb(228, 228, 228);
}
.detail-sidebar-container-top-count {
  border: 1px solid rgb(30, 30, 30);
  padding: 0.3rem;
  padding-inline: 0.3rem;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 4px rgb(30, 30, 30);
}
.detail-sidebar-container-top-count #DetailGuestButton {
  width: 1.6rem;
  height: 1.4rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  background-color: rgb(10, 10, 10);
  box-shadow: 1px 1px 2px rgb(30, 30, 30);
  border: none;
  color: rgb(245, 245, 245);
  text-align: center;
  cursor: pointer;
}
.detail-sidebar-container-top-count #DetailGuestButton:hover {
  background-color: rgb(41, 41, 41);
}
.detail-sidebar-container-top-count #DetailCount {
  font-size: 1.1rem;
}
.detail-sidebar-container-center {
  border: 1px solid rgb(30, 30, 30);
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.detail-sidebar-container-center-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.detail-sidebar-container-center-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail-sidebar-container-center-pricing-container {
  border: 1px solid rgb(30, 30, 30);
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.detail-sidebar-container-center-pricing-container-breakdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
  width: 100%;
}
.detail-sidebar-container-center-pricing-container-total {
  border-top: 1px solid rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.detail-sidebar-container-bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}
.detail-sidebar-container-bottom #DetailBookBtn {
  width: 80%;
  height: 2rem;
  background-color: rgb(180, 102, 0);
  border: 1px solid rgb(30, 30, 30);
  box-shadow: 1px 1px 4px rgb(30, 30, 30);
  color: white;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.detail-sidebar-container-bottom #DetailBookBtn:hover {
  background-color: rgb(211, 136, 38);
}

.form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.3rem;
  width: 11rem;
}
.form-card-group {
  display: flex;
  flex-direction: column;
  margin-block: 0.4rem;
}
.form-card-group-left {
  display: flex;
  gap: 0.3rem;
}
.form-card-group-right {
  display: flex;
  align-items: center;
  margin-block: 0.6rem;
  gap: 0.3rem;
}

.checkout {
  background: linear-gradient(180deg, rgb(54, 121, 138) 0%, rgba(190, 190, 190, 0.463) 50%, rgb(245, 245, 245) 100%), no-repeat;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
}
.checkout-container {
  margin-top: 3rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(30, 30, 30);
  padding: 2rem;
  border-radius: 0.3rem;
}
.checkout-container-top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.checkout-container-top #CheckoutImg {
  width: 24rem;
  height: 100%;
  border-radius: 0.5rem;
  border: 1px solid rgb(30, 30, 30);
}
.checkout-container-center {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout-container-center-price {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border: 1px solid rgb(30, 30, 30);
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: 11rem;
}
.checkout-container-center-submit {
  margin-top: 1rem;
}
.checkout-container-center-submit #CheckoutBtn {
  height: 2rem;
  width: 6rem;
  background-color: rgb(180, 102, 0);
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}
.checkout-container-center-submit #CheckoutBtn:hover {
  background-color: rgb(211, 136, 38);
}

.user {
  background: linear-gradient(180deg, rgb(54, 121, 138) 0%, rgba(190, 190, 190, 0.463) 50%, rgb(245, 245, 245) 100%), no-repeat;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
}
.user-container {
  min-width: 40%;
  height: fit-content;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 4px rgb(30, 30, 30);
  background-color: rgb(245, 245, 245);
  margin-block: 4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.user-container-top {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.user-container-center {
  width: 100%;
}
.user-container-center-bookings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  border: 1px solid rgb(30, 30, 30);
  border-radius: 0.5rem;
}
.user-container-center-bookings-listing {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  margin: 0.3rem;
  border: 1px solid rgb(30, 30, 30);
  background-color: rgb(54, 121, 138);
  align-items: center;
  color: white;
}

#DeleteBtn {
  margin-inline: 0.5rem;
  border-radius: 0.3rem;
  color: rgb(245, 245, 245);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
#DeleteBtn:hover {
  color: rgb(226, 226, 226);
}

/*# sourceMappingURL=globals.css.map */
