$base-color:rgb(54, 121, 138);
$base-color-hover: rgba(54, 121, 138, 0.7);
$base-black: rgb(0,0,0,0.6);
$base-black-hover: rgb(0,0,0,0.4);
$button-color: rgb(180, 102, 0);
$button-color-hover: rgba(180, 102, 0, 0.6);
$button-alt: rgb(179, 179, 179);
$button-alt-hover: rgb(179, 179, 179, 0.6);
$border-color: rgb(0,0,0,0.6);
$base-white: rgb(245, 245, 245);
$base-grey: rgb(226, 226, 226);

body {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
h1 {
    margin: 0;
}

h2 {
    margin: 0;
}
h3 {
    margin: 0;
}

.header {
    height: 5rem;
    width: 100%;
    border-bottom: 2px solid black;
    
    &-container {
        height: fit-content;
        display: flex;
        justify-content: space-between;
        margin-inline: 2rem;
        align-items: center;

        &-left {

        }
        &-right {

            #LoginBtn {
                width: 5rem;
                height: 2rem;
                background-color: $base-color;
                border: 1px solid $base-black;
                border-radius: .3rem;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
                color: white;

                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
                    background-color: $base-color-hover;
                }
            }
        }
    }
}

.home {
    background: linear-gradient(180deg, rgb(54, 121, 138) 0%, rgba(190, 190, 190, 0.463) 50%, rgb(245, 245, 245) 100%), no-repeat;
    min-height: 100vh;
    max-height: 100%;
    color: white;

    &-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 4rem;

        &-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            gap: 1rem;

            #Slogan {
                padding: .5rem;
                background-color: $base-color;
                border-radius: 1rem;
                color: white;
            }
        }
        &-center {

            width: 50%;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: minmax(14rem, 32%) minmax(14rem, 32%) minmax(14rem, 32%);
            justify-content: center;
            justify-items: center;
            align-content: center;
            row-gap: 2rem;
            margin-top: 2rem;

            &-card {
                width: 12rem;
                height: 14rem;
                background-color: white;
                color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border: 1px solid $base-black;
                border-radius: .5rem;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 8px $base-black;
                    transition: 300ms;
                }

                &-top {

                }
                &-bottom {
                    border-top: 1px solid $base-black;
                    width: 100%;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

        }
        &-bottom {

        }

    }
}

.searchbar {
    height: 3rem;
    width: 36rem;
    border: 1px solid rgba(0, 0, 0,);
    border-radius: .4rem;
    background-color: white;


    &-form {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-bar {
            width: -webkit-fill-available;
            margin-right: .2rem;
            border-right: 1px solid rgba(0, 0, 0, 0.6);
            #SearchBar {
                background-color: white;
                font-size: 1.1rem;
                border: none;
                color: black;
                height: 2.5rem;
                margin: .2rem;
                width: -webkit-fill-available;

                &:focus {
                    border: none;
                }
            }
        }
        &-button {
            width: 6rem;
            margin-right: .2rem;

            #SearchbarBtn {
                width: 6rem;
                height: 2.5rem;
                background-color: $base-color;
                border: 1px solid rgba(0, 0, 0, 0.6);
                border-radius: .3rem;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
                color: white;
                
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
                    background-color: $base-color-hover;
                }
            }
        }
    }
}

.datebar {
    display: flex;
    width: 24rem;
    height: 3rem;
    background-color: $base-white;
    border: 1px solid black;
    border-radius: .5rem;
    align-items: center;
    justify-content: left;


    &-left {
        display: flex;
        align-items: center;

        &-left {
            width: 4rem;
            display: flex;
            justify-content: center;
            #DateText {

            }            
        }
        &-right {

            #DateButton {
                height: 3rem;
                width: 8rem;
                border: none;
                border-right: 1px solid $base-black;
                border-left: 1px solid $base-black;
                background-color: $base-color;
                color: $base-white;
                font-size: 1.1rem;

                cursor: pointer;

                &:hover {
                    background-color: $base-color-hover;
                }
            }

        }

    }

    &-right {
        display: flex;
        align-items: center;
        width: 12rem;

        &-left {
            width: 6rem;
            display: flex;
            justify-content: center;
            
            #GuestText {

            }
        }

        &-right {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            background-color: $base-color;
            width: 6rem;
            border-top-right-radius: .43rem;
            border-bottom-right-radius: .43rem;
            border-left: 1px solid $base-black;
            color: $base-white;

            #GuestButton {
                width: 1.5rem;
                height: 1.5rem;
                background-color: $base-black;
                color: white;
                box-shadow: none;
                border: none;
                border-radius: .2rem;
                font-size: 1.2rem;
                
                cursor: pointer;

                &:hover {
                    background-color: $base-black-hover;
                }
            }

            #Count {
                margin: .4rem;
                font-size: 1.3rem;
            }

        }

    }
}

.filter {

    #FilterButton {
        width: 8rem;
        height: 1.7rem;
        background-color: $button-alt;
        border: 1px solid $base-black;
        font-size: .9rem;
        border-radius: .5rem;
        box-shadow: 1px 1px 4px $base-black;

        cursor: pointer;

        &:hover {
            background-color: $button-alt-hover;
        }
    }
}

.house-card {

    background-color: $base-white;
    border: 1px solid $base-black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 20rem;

    cursor: pointer;

    &:hover {
        box-shadow: 1px 1px 8px $base-black;
        transition: 300ms;
    }

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $base-black;
        width: 100%;
        height: 2rem;

        #HouseTopTag {
            border: 1px solid $base-black;
            border-radius: .5rem;
            background-color: $base-grey;
            margin: .3rem;
            padding: .1rem;
            font-size: .9rem;
        }

        #HouseTitle {
            font-size: 1rem;
            font-weight: 100;
        }
    }

    &-center {
        height: fit-content;
        width: 100%;

    }

    &-bottom {
        height: fit-content;
        padding-block: 1rem;
        border-top: 1px solid $base-black;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-left {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-left: .2rem;
        }

        &-right {
            display: flex;
            justify-content: right;
            gap: .5rem;
            margin-right: .2rem;

            &-info {
                display: flex;
                flex-direction: column;
                gap: 1rem;

            }
            &-adaptations {
                display: flex;
                flex-direction: column;
                background-color: $base-black;
                height: fit-content;
                width: fit-content;

            }
        }
    }
}

.listing {

    background: linear-gradient(180deg, rgb(54, 121, 138) 0%, rgba(190, 190, 190, 0.463) 50%, rgb(245, 245, 245) 100%), no-repeat;
    min-height: 100vh;
    max-height: 100%;

    &-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem ;

        &-top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            &-misc {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

        }

        &-center {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }

        &-bottom {

        }
    }
}