$base-color:rgb(54, 121, 138);
$base-color-hover: rgba(54, 121, 138, 0.7);
$base-black: rgb(30,30,30);
$base-black-hover: rgb(60,60,60);
$base-black-shadow: rgb(75,75,75);
$button-color: rgb(180, 102, 0,);
$button-color-hover: rgb(211, 136, 38);
$button-alt: rgb(202, 202, 202);
$button-alt-hover: rgb(228, 228, 228);
$border-color: rgb(0,0,0,0.6);
$base-white: rgb(245, 245, 245);
$base-grey: rgb(226, 226, 226);
